@import "~bootstrap/less/variables.less";

.program-name {
  display: inline-block;
  margin-right: 10px;
}

.program-header .btn {
  margin-right: 5px;
  margin-top: (26-34)/2px;
}

.program-edit-buttons {
  position: absolute;
  right: 15px;
  top: 30px;
}

.program-times {

}

.program-times.dragging {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.program-time {
}

.program-time.dragging {
  background-color: @gray-lighter;
  border: 3px dashed #000;
}

.program-time-header-section {
  width: 65px;
}

.program-time-actions .btn {
  margin-right: 5px;
}