@import "../bower_components/bootstrap/less/bootstrap";

@import "alerts.less";

body {
  background-color: #ddd;
}

.control-panel {
  max-width: 550px;
  #title {
    text-align: center;
  }
}

button > .right {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.form-inline-header (@header-index) when (@header-index > 0) {
  .form-inline > h@{header-index} {
    display: inline-block;
  }
  .form-inline-header(@header-index - 1);
}
.form-inline-header(6);

.list-group-item .btn.right {
  position: absolute;
  right: 15px;
  top: 25px;
}