doctype html
html(lang="en" manifest="sprinklers.appcache")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Sprinklers Control Panel
        link(rel="stylesheet" type="text/css" href="style/all.css")
    body
        div#app.container.control-panel
        //
            Scripts placed at bottom for better load time
        script(type="text/javascript" src="scripts/all.js")
             